<h2>Search Authors</h2>

<form action="/auth">
    <label for="name">Name</label>
    <input type="text" name="name" value="<%= searchOptions.name %>"/>
    <button type="submit">Search</button>
</form>
<br>
<% authors.forEach(auth => { %>
    <div><%= auth.name %></div>
<% }) %>