<header>
    <nav>
        <a href="/">Book Library</a>
        <ul>
            <li><a href="/auth">Authors</a></li>
            <li><a href="/auth/new">Add Authors</a></li>
            <li><a href="/books">Books</a></li>
            <li><a href="/books/new">Add Book</a></li>
        </ul>
    </nav>
</header>